mainmenu "This is an configure for nemu-mips32"

if ! ARCH_BENCH
menu "NEMU-MIPS32 features"
config DELAYSLOT
  bool "Delayslot support"

config SEGMENT
  bool "Segment mode support"

config PAGING
  bool "Paging mode support"

config INTR
  bool "Interrupt support"

config EXCEPTION
  bool "Exception support"
endmenu
endif

menu "NEMU-MIPS32 debug options"
config MMU_CACHE_PERF
  bool "Profile mmu cache hit rate"

config DECODE_CACHE_PERF
  bool "Profile decode cache hit rate"

config DEBUG
  bool "DEBUG mode (useless)"

config INSTR_LOG
  bool "Log when every instruction commit (used to diff with noop)"

config MMU_CACHE_CHECK
  bool "Check the validness of mmu cache"

config DECODE_CACHE_CHECK
  bool "Check the validness of decode cache"

endmenu

menu "Kernel debug options"
config CAE_CHECK
  bool "Check general registers after eret"

config KERNEL_HOME
  string "The home directory of kernel"
  default "$(HOME)/linux-noop-4.11.4"

config KERNEL_ELF_PATH
  string "The path of kernel executable"

config KERNEL_UIMAGE_PATH
  string "The path of uImage.bin"

config KERNEL_DEBUG
  bool "Some features for kernel debugging"
  depends on KERNEL_ELF_PATH

endmenu

choice
  prompt "Machine selection"
  default ARCH_LOONGSON

config ARCH_BENCH
  bool "optimized for microbench"

config ARCH_MIPS32_R1
  bool "mips32 release 1"
  select DELAYSLOT
  select EXCEPTION
  select PAGING
  select INTR

config ARCH_LOONGSON 
  bool "loongson 132"
  select DELAYSLOT
  select EXCEPTION

endchoice

config PRELOAD_LINUX
  bool "Preload linux kernel into memory (you can then run it)"
  depends on ARCH_MIPS32_R1
  depends on KERNEL_ELF_PATH
  depends on KERNEL_UIMAGE_PATH
